/* Pre set size */
:root {
	--fs-h1: 2rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.1rem;
	--fs-body: 0.7rem;

	--clr-border: #DDD;
}
@media (min-width: 600px) {
	:root {
		--fs-h1: 3rem;
		--fs-h2: 2.25rem;
		--fs-h3: 1.125rem;
		--fs-body: 0.8rem;
	}
}
@media (min-width: 900px) {
	:root {
		--fs-h1: 3.5rem;
		--fs-h2: 2.75rem;
		--fs-h3: 1.125rem;
		--fs-body: 1rem;
	}
}

/* General page stylings */
* {
  box-sizing: border-box;
}
html {
	background: #DCE3E6;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: var(--fs-body);
	background: #FFF;
	box-shadow: 0 .3em 1em #000;
	line-height: 1.6;
	margin: 0 auto;
    width: 90%;
	padding-bottom: 1rem;
}
h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


/* Header styling */
.banner {
	width: 100%;
	height: 5rem;
	padding: 0.3rem;
    border-bottom: solid 3px var(--clr-border);
}
.logo {
	height: 100%;
}

/* Other standard styling */
input[type=text], textarea, select {
	width: 100%;
	font-size: var(--fs-body);
	padding: 0.5rem 0.5rem;
	margin: 0.3rem 0;
	border: 1px solid var(--clr-border);
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}
input[type=text]:focus, textarea:focus, select:focus {
	box-shadow: 0 0 0 2px #09C;
}
label {
	padding-right: 1rem;
}

input[type=submit] {
	font-size: var(--fs-body);
	background-color: #059;
	color: #FFF;
	padding: 0.5rem 5rem;
	margin: 0.5rem 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:focus {
	box-shadow: 0 0 0 1px #000;
	background-color: #004a87;
}
input[type=submit]:hover {
	background-color: #004a87;
}
